# 忽略編譯出的執行檔與二進位檔
sandbox
*.o

# 忽略微型作業系統環境與暫存檔
rootfs/
logs/
__pycache__/
*.pyc
*.tar.gz

# 忽略環境變數檔 (未來如果專案需要放密碼或 API Key 時可以防外洩)
.env

# 忽略 Mac 系統自動產生的隱藏垃圾檔 (避免用 Mac 的人污染 Repo)
.DS_Store

# 忽略各大編輯器的個人設定檔 (每個人編輯器設定不同，不該推上雲端)
.vscode/
.idea/
*.swp